name: Update Badges

on:
  schedule:
    # Runs daily at 2 AM UTC
    - cron: "0 2 * * *"
  workflow_dispatch: # Allows manual triggering of the action

jobs:
  update-badges:
    name: Update README with Credly Badges
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Update Badges
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: noah-atkin  # Uses your GitHub username
          NUMBER_LAST_BADGES: 10  # Show last 10 badges (set 0 to show all)
